*{
    margin: 0;
    padding: 0;
}
.block1{
    position: relative;
    background-image: url(img/bg1.png);
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
}
.block1>.tit1{
  position: absolute;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 72px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.2;
  color: white;
  top: 450px;
  left: 720px;
}
.block1>.line{
  position: absolute;
  top: 430px;
  left: 720px;
}
.block2{
    background-color: #373C5A;
    width: 1920px;
    height: 1080px;
    position: relative;
}
.block2>.pic{
  position: absolute;
  width: 649px;
  height: 845px;
  top: 140px;
  left: 1107px;
}
.block2>.tit2{
  position: absolute;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 55px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.2;
  color: white;
  text-align: right;
  top: 140px;
  left: 380px;
}
.block2>.p{
  position: absolute;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 23px;
  font-weight: 200;
  letter-spacing: -0.5px;
  line-height: 1.5;
  color: white;
  text-align: right;
  top: 320px;
  left: 280px;
}
.block3{
    background-color: white;
    width: 1920px;
    height: 1080px;
    position: relative;
}
.block3>.pic{
    position: absolute;
    width: 1500px;
    height: 1200px;
}
.block3>.pic2{
    position: absolute;
    width: 443px;
    height: 78px;
    top: 460px;
    left: 1300px;
}
.block3>.tit3{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: black;
    top: 600px;
    left: 1200px;
}
.block4{
    background-color: #373C5A;
    width: 1920px;
    height: 1080px;
    position: relative;
}
.block4>.pic{
    position: absolute;
    top: 250px;
    left: 267px;
}
.block4>.tit4{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: white;
    top: 370px;
    left: 680px;
}
.block4>.p{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: -0.5px;
    color: white;
    top: 450px;
    left: 400px;
    text-align: center;
}
.block5{
    background-image: url(img/bg2.png);
    position: relative;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}
.block5>.p{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: black;
    top: 120px;
    left: 90px;
}
.block6{
    background-image: url(img/bg3.png);
    position: relative;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}
.block6>.pic{
    position: absolute;
    top: 175px;
    left: 65px;
}
.block6>.pic2{
    position: absolute;
    top: 630px;
    left: 1600px;
}
.block6>.line{
    position: absolute;
    top: 100px;
    left: 40px;
}
.block6>.p{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: black;
    top: 230px;
    left: 300px;
}
.block6>.p1{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: white;
    top: 625px;
    left: 200px;
    text-align: right;
}
.block6>.tit5{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 78px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: black;
    top: -20px;
    left: 37px;
}
.block7{
    background-image: url(img/bg4.png);
    position: relative;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}
.block7>.pic{
    position: absolute;
    top: 85px;
    left: 90px;
}
.block7>.pic2{
    position: absolute;
    top: 600px;
    left: 1600px;
}
.block7>.p{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: black;
    top: 120px;
    left: 340px;
}
.block7>.p1{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: white;
    top: 650px;
    left: 450px;
    text-align: right;
}
.block8{
    background-color: #373C5A;
    width: 1920px;
    height: 1080px;
    position: relative;
}
.block8>.p{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -0.1px;
    color: white;
    top: 200px;
    left: 850px;
}
.block9{
    background-image: url(img/bg5.png);
    position: relative;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}
.block9>.tit6{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 63px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: white;
    top: 480px;
    left: 400px;
}
.block10{
    background-image: url(img/bg6.png);
    position: relative;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}
.block10>.p{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 2.5;
    color: black;
    top: 183px;
    left: 80px;
    text-align: center;
}
.block11{
    background-color: #373C5A;
    width: 1920px;
    height: 1080px;
    position: relative;
}
.block11>.pic{
    position: absolute;
    top: 350px;
    left: 1550px;
}
.block11>.tit7{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: white;
    top: 700px;
    left: 1580px;
}
.block11>.p{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 2;
    color: white;
    text-align: right;
    top: 770px;
    left: 700px;
}
.block11>.p2{
    position: absolute;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: white;
    top: 1000px;
    left: 1720px;
}
